<div class="row-fluid">
    <div class="span6">
        
            <h1 class="" id="_familyTitle">Graeden Dinnerware</h1>
            <div class="shopSizeReviewStars">
                <p class="reviewRatingStars" id="reviewRatingStars">
                    <a href="">
                        <img src="http://images.crateandbarrel.com/is/image/Crate/RatingStars?&amp;wid=85&amp;hei=24&amp;$percent=0.001&amp;fmt=png-alpha" alt="0 out of 5 stars." id="_imgStarRatings">
                    </a>
                </p>
                <span><a id="writeAReview">be the first to write a review<a/><span/>
            </div>
             <div class="productImageWrap" id="_tagImageWrap"><img class="jsZoomLarge" src="http://images.crateandbarrel.com/is/image/Crate/Graeden4pPlcSetF12?$web_zoom$&amp;" alt="Graeden4pPlcSetF12" id="_imgLarge"></div>
    </div>    	
    <div class="span6">
        <div class="span12">
             <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Overview
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                      Glossy neutrals and unglazed rims add sophisticated contrast to clean porcelain shapes for modern everyday dining. Versatile two-toned pieces are designed for layering, with plates and saucers serving as lids for food storage and microwave cooking.
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Details and Dimensions
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body in collapse" style="height: auto; ">
                    <div class="accordion-inner">
                      Samoa Teapot. 40 oz.
                        <ul>
                            <li>Porcelain</li>
                            <li>Dishwasher-, microwave- and oven-safe to 350 degrees</li>
                            <li>Made in China</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Return/Exchange Policy
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      We will accept merchandise returns of non-Furniture Collection items at our stores within 30 days of customer receipt. Please understand, however, that bedding items may be returned or exchanged only if in their original packaging. Furthermore, Outlet purchases may only be returned to an Outlet store. All other Crate and Barrel non-Furniture Collection merchandise may be returned to any other Crate and Barrel store (excluding Outlets) or by mail (if such item was ordered online or by phone and received by mail).
                    </div>
                  </div>
                </div>
              </div>
            <div/>
        </div>  
    </div> <!--span6 closing div-->
</div>
