<div id="normalFooter" class="footer span12 visible-phone">
    <div class="phoneFooterCol">
        <div><a href="/About-Us/">About Us</a></div>
        <div><a href="/Customer-Service/">Customer Service</a></div>
        <div><a href="/Social-Responsibility/">Social Responsibility</a></div>
        <div><a href="/Account/">Access Your Account</a></div>
    </div>
    <div class="phoneFooterCol">
        <div><a href="/Order-Tracking/" class="lnkOrderTracking" id="_lnkOrderTracking">Order Tracking</a></div>       
        <div><a href="/Stores/">Store Locator</a></div>
        <div><a href="/the-marimekko-shop/">The Marimekko Shop</a></div>
        <div><a href="/Catalog/Request.aspx">Request a Catalog</a></div>
    </div>
    <div class="phoneFooterCol">
        <a href="http://www.facebook.com/crateandbarrel" class="iconLink iconFacebook">Facebook</a>
        <a href="http://twitter.com/crateandbarrel" class="iconLink iconTwitter">Twitter</a>
        <a href="http://pinterest.com/cratebarrel/" class="iconLink iconPinterest">Pinterest</a>
    </div>
</div>

<div id="normalFooter" class="footer hidden-phone">
    <ul>
        <li class="section">Get To Know Us</li>
        <li><a href="/About-Us/">About Us</a></li>
        <li class="nsInt"><a href="/Careers/">Careers</a></li>
        <li class="nsInt"><a href="/Environment/">Eco Initiatives</a></li>
        <li><a href="/Social-Responsibility/">Social Responsibility</a></li>
        <li class="nsInt"><a href="/Site-Index.aspx">Site Index</a></li>
        <li class="section">My Account</li>
        <li class="nsInt"><a href="/Account/">Access Your Account</a></li>
    </ul>
    <ul>
        <li class="section">Let Us Help You</li>
        <li class="nsInt"><a href="/Customer-Service/">Customer Service</a></li>
        <li><a href="/Customer-Service/Contact-Us.aspx">Contact Us</a></li>
        <li class="nsInt"><a href="/Order-Tracking/" class="lnkOrderTracking" id="_lnkOrderTracking">Order Tracking</a></li>       
        <li class="nsInt"><a href="/Customer-Service/FAQ-Shipping-Delivery.aspx">Shipping/Delivery</a></li>        
        <li class="nsInt"><a href="/Customer-Service/FAQ-Returns-Exchanges.aspx">Returns/Exchanges</a></li>   
        <li class="nsInt"><a href="http://crateandbarrel.custhelp.com/cgi-bin/crateandbarrel.cfg/php/enduser/crate_faqsearch.php">FAQs</a></li>
        <li class="sInt"><a href="/Resource-Guide/Dinnerware.aspx">Resource Guides</a></li>
        <li class="nsInt"><a href="/Business-Sales/">Business Sales</a></li>
        <li class="nsInt"><a href="/designer-rewards/">Designer Rewards</a></li>
        <li class="sInt"><a href="https://embassy.fiftyone.com/tracking.srv" rel="external">Order Tracking</a></li>
        <li class="sInt"><a href="/Customer-Service/International-Returns.aspx">Returns/Exchanges</a></li>        
        <li class="nsInt"><a href="/Customer-Service/Safety-Recall.aspx">Recall Notice</a></li>
        <li class="nsInt"><a href="/Customer-Service/Assembly.aspx">Assembly Instructions</a></li>
        <li class="nsInt"><a href="/Customer-Service/Contact-Us.aspx?option=MediaInquiries">Media Inquiries</a></li>
    </ul>   
    <ul>
        <li class="section">Our Stores</li>
        <li class="nsInt"><a href="/Stores/">Store Locator</a></li>
        <li class="nsInt"><a href="/the-marimekko-shop/">The Marimekko Shop</a></li>
        <li class="section nsInt">Our Catalogs</li>
        <li class="nsInt"><a href="/Catalog/">View Catalog Flipbook</a></li>
        <li class="nsInt"><a href="/Catalog/Request.aspx">Request a Catalog</a></li>
        <li class="nsInt"><a href="/Customer-Service/Catalog-Preference.aspx">Catalog Preference</a></li>
        <li class="section">Anywhere, Anytime</li>
        <li class="nsInt"><a href="/Mobile/" class="iconLink iconMobile">Now we are Mobile</a></li>
    </ul>
    <ul>
        <li class="section">Let's Get Social</li>
        <li><a href="http://www.facebook.com/crateandbarrel" class="iconLink iconFacebook">Facebook</a></li>
        <li><a href="http://twitter.com/crateandbarrel" class="iconLink iconTwitter">Twitter</a></li>
        <li><a href="http://pinterest.com/cratebarrel/" class="iconLink iconPinterest">Pinterest</a></li>
        <li><a href="/Reviews/" class="iconLink iconReview">Write a Review</a></li>
        <li class="ourBrands">Our Brands</li>
        <li>
            <a href="http://www.cb2.com?cb=1" class="cb2" rel="external"></a>
            <span class="delimiter"></span>
            <a href="http://www.landofnod.com?cb=1" class="landOfNod" rel="external"></a> 
        </li>
    </ul>
    <ul class="last">
        <li class="section">Contact Us</li>
        <li><a href="/Customer-Service/Contact-Us.aspx">Contact Us</a></li>
        <li class="nsInt"><a href="#Crate.Feedback.show">Give Us Feedback</a></li>
        <li class="nsInt"><span>800.967.6696</span></li>
        <li class="sInt"><span>(00+1) 630.369.4464</span></li>
    </ul>
    </div>
    <div class="clear"></div>    
</div>