<div id="normalHeader">
    <div class="headerLogo span4">
        <a href="/" class="logo">
            <img src="//a.c-b.co/assets/logo/logo.gif" alt="Crate and Barrel">
        </a>
    </div>
    <div class="span3">&nbsp;</div>
    <div class="span4">
        <!-- Begin Co-Branding -->
    	<div class="coBranding">
    		<span class="visible-desktop">Visit our other sites:</span>
    		<a rel="external" class="cb2" href="http://www.cb2.com/?source=crate_header" id="CB2Tab"><span>&nbsp;</span></a>
    		<span class="delimiter">&nbsp;</span>
    		<a rel="external" class="landOfNod" href="http://www.landofnod.com/?source=crate_header" id="LONTab"><span>&nbsp;</span></a>
    	</div>
    	<!-- End Co-Branding -->
    </div>
</div>

<div class="navbar hidden-phone">
  <div class="navbar-inner">
    <div class="span7">
        <ul class="nav">
          <li><a href="#">Shop All Departments</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Ideas & Inspiration</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Gift Registry</a></li>
        </ul>
    </div>
    <div class="span5 searchBar">
        <span class="searchTitle">Search</span>
        <form class="navbar-form pull-left">
             <input type="text" class="span3 searchInput">
        </form>
    </div>
  </div>
</div>

<div class="phoneNav visible-phone">
    <div class="searchBarPhone container">
        <span class="searchTitle">Search</span>
        <form class="navbar-form pull-left">
             <input type="text" class="searchInput">
        </form>
    </div>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="#">Shop All Departments</a></li>
        <li><a href="#">Ideas & Inspiration</a></li>
        <li><a href="#">Gift Registry</a></li>
    </ul>
</div>