

<script type="text/javascript">

</script>
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item"><a href="/category"><img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide01.jpg" alt="" /></a></div>
        <div class="item"><a href="/category"><img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide02.jpg" alt="" /></a></div>
        <div class="item"><a href="/category"><img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide03.jpg" alt="" /></a></div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!--  --><!--
<script type="text/javascript" src="http://j.c-b.co/js/browse/homepage.js"></script>
<link href="http://c.c-b.co/css/browse.css" rel="stylesheet">

<div style="clear: both;"></div>
<div id="themeContainer" class="row-fluid">
    <div id="divHomeThemes">
        <div id="divThemeTitles" class="width1000Center">
            <div class="divThemeTitleBackground">
                <img class="slideTitleImg" src="http://a.c-b.co/Assets/HomePage/Theme/HP_0622_SummerOverlay.png">
            </div>
            <div class="themeTitleslWrap">
                <ul id="themeTitles">
                    <l>
                        <a href="/whats-new/new-dining-and-entertaining/1">
                            <img class="slideTitleImg" src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide01text.png">
                        </a>
                    </li>
                    <li>
                        <a href="/whats-new/new-accessories/1">
                            <img class="slideTitleImg" src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide02text.png">
                        </a>
                    </li>
                    <li>
                        <a href="/whats-new/new-bed-and-bath/1">
                            <img class="slideTitleImg" src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide03text.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="width1000Center arrowWrap">
            <div id="prev" class="arrows">
                <span class="outer"><span class="inner">&nbsp;</span></span>
            </div>
            <div id="next" class="arrows">
                <span class="outer"><span class="inner">&nbsp;</span></span>
            </div>
        </div>
        <div class="themeWrap fL">
            <ul id="themes">
                <li>
                    <a href="/whats-new/new-dining-and-entertaining/1">
                        <img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide01.jpg">
                    </a>
                </li>
                <li>
                    <a href="/whats-new/new-accessories/1">
                        <img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide02.jpg">
                    </a>
                </li>
                <li>
                    <a href="/whats-new/new-bed-and-bath/1">
                        <img src="http://a.c-b.co/assets/homepage/slides/hp_0801_slide03.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- -->