<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%- title %></title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="http://www.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/css/site.css" rel="stylesheet">
<link href="/css/<%- cssFileName %>.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript" src="http://www.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <span class="visible-phone">Phone</span>
    <span class="visible-tablet">Tablet</span>
    <span class="visible-desktop">Desktop</span>
    <%- partial('header') %>
    <div class="mainContent">
        <%-body%>
    </div>
    <%- partial('footer') %>
</div>
</body>

</html>