<div class="container-fluid">
    <div class="row-fluid span12">
        
        
        
            <div class="jsItemRow product box span3"><div class=" galleryNoX" id="_galleryWrap">
                <a tabindex="200" onclick="" class="productNameLink" title="Miguel Wine Glass" href="/miguel-wine-glass/f47407" id="_lnk">
                    <img src="http://images.crateandbarrel.com/is/image/Crate/MiguelWineTumblerLLF12?$web_setitem$" class="" alt="Miguel Wine Glass" width="158" height="158" id="_img">
                    <span class="productInfo allVerticals" id="_productInfo">
                        <span class="productName" id="_description">Miguel Wine Glass</span>
                        <span class="reg"><span class="regPrice">$7.95</span></span>
                        <span class="promoMessage nsInt" id="_flatFeeMessage">$4.95 Flat Fee Eligible</span>
                    </span>
                </a>
            </div>
        
        
        
    
    </div>  
</div>
    
 
 