<div class="container-fluid">
            <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
            <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
                        <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
            <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
                        <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
            <ul class="zzthumbnails row-fluid" style="margin: 0 0 0 0">
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/ArticFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Arctic Flatware</h5>
                                                 <p>$24.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/AustenFltWr?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Austen Flatware</h5>
                                                 <p>$49.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Barberry Flatware</h5>
                                                 <p>$39.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
                        <li class="span2" style="margin: 0 0 0 0;">    
                                    <div class="thumbnail" style="border-radius:0px;box-shadow:0px;-webkit-box-shadow:0 0 0 0">
                                                <img src="http://images.crateandbarrel.com/is/image/Crate/Aero5pcPcsetLLS11?$web_setitem$" alt="">
                                                <div class="caption">
                                                 <h5>Aero Flatware</h5>
                                                 <p>$59.95</p>
                                                 <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
                                                </div>
                                    </div>
                        </li>
            </ul>
</div>

 
 