    <div class="row-fluid">              
        <div class="span3 box">
            <a href="/product">
                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="Dinnerware" />
            </a>
            <h6>
                <a class="ProductName" href="/product">Dinnerware</a>
            </h6>
             <p>$59.95</p>
             <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
        </div>
         <div class="span3 box">
            <a href="/product">
                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="Dinnerware" />
            </a>
            <h6>
                <a class="ProductName" href="/product">Dinnerware</a>
            </h6>
             <p>$59.95</p>
             <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
        </div>
         <div class="span3 box">
            <a href="/product">
                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="Dinnerware" />
            </a>
            <h6>
                <a class="ProductName" href="/product">Dinnerware</a>
            </h6>
             <p>$59.95</p>
             <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
        </div>
         <div class="span3 box">
            <a href="/product">
                <img src="http://images.crateandbarrel.com/is/image/Crate/Barberry5pcPlcsetLLS11?$web_setitem$" alt="Dinnerware" />
            </a>
            <h6>
                <a class="ProductName" href="/product">Dinnerware</a>
            </h6>
             <p>$59.95</p>
             <p style="color: rgb(252, 5, 5);">$4.95 Flat Fee Eligible</p>
        </div>
    </div>

 
 