.width100p {
    width: 100%;
    float: left;
    position: relative;  
    clear: both;
}
.width20p {
    width: 20%;
    float: left;
    position: relative; 
    display: inline;
}
.width30p {
    width: 30%;
    float: left;
    position: relative; 
    display: inline;
}
.width40p {
    width: 40%;
    float: left;
    position: relative; 
    display: inline;
}
.width50p {
    width: 50%;
    float: left;
    position: relative; 
    display: inline;
}
.width60p {
    width: 60%;
    float: left;
    position: relative; 
    display: inline;
}
.width70p {
    width: 70%;
    float: left;
    position: relative; 
    display: inline;
}
.width80p {
    width: 70%;
    float: left;
    position: relative; 
    display: inline;
}
#categoryFeature p{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    display: table-cell;
    vertical-align: bottom;
}
#categoryFeature p a{
    display: block;    
    float: left;
    width: 100%;
}
#categoryFeature p a span{    
    float: left;  
    color: #fff;
    font: bold 1em/2.8em Helvetica,Arial,sans-serif;   
    height:33.2%;     
    overflow: hidden;
    width: 100%;     
    background-color: #999;
    border-radius: 3px;
}
#categoryFeature p a:hover span{  
    background: #84807F;
    color: #FFF;
    text-decoration: none;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .width20p {
        background-color: #f0f0f0;
        width: 24.3%;
        height: 120px;
        margin: 0 3px 3px 0;
        border: 1px solid #999;
    }
    h2 {
        font: bold 1.2em/2.5em Helvetica,Arial,sans-serif;
        color: black;
        vertical-align: bottom;
        padding: 0;
    }
    h2 a {         
        color: black;   
    }    
    #categoryFeature p {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 5px;
        display: table-cell;
        vertical-align: bottom;
        height: 81px;
        background-color: #CCC;
    }
    #categoryFeature p a span{    
        float: left;  
        color: #fff;
        font: bold 1em/2.8em Helvetica,Arial,sans-serif;   
        height:100%;     
        overflow: hidden;
        width: 100%;     
        background-color: transparent;
        border-radius: 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .width20p {       
        background-color: #f0f0f0;
        border: 1px solid #999;
        width: 24.3%;
        height: 120px;
        margin: 0;
    }
    .width70p {
        width: 100%;
        float: left;
        position: relative; 
        display: inline;
    }
    .width30p{
        width: 100%;       
    }
    h2 {         
        font: bold 1.2em/2.5em Helvetica,Arial,sans-serif;
        color: black;        
        padding: 0;
    }
    h2 a {         
        color: black;   
    }
    #categoryFeature p{       
        background-color: #901C3B;
        color: #fff;       
        display: none;
    }   
    #categoryFeature p a span{
        background-color: #901C3B;
        color: #fff; 
    }
    #categoryFeature >:first-child{
        display: block;
    } 
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .width20p {       
        background-color: #f0f0f0;
        border: 1px solid #999;
        width: 100%;
        height: 35px;
        margin: 0 3px 3px 0;
    }
    h2 {         
        font: bold 1.2em/2.5em Helvetica,Arial,sans-serif;
        color: black;        
        padding: 0;
    }
    h2 a {         
        color: black;   
    }
    #categoryFeature{ 
        display: none;
    }
    #myCarousel {
        width: 100%;
    }
}