/* FOR ALL DEVICES */
.searchBar {
    line-height:40px;
    display:inline-block;
    color:#000;
    padding-left:20px;
    background-color:#BBB;
}
.navbar-inner {
    padding:0;
}
.navbar-inner .span7,
.navbar-inner .span4,
.navbar-inner .span5 {
    margin-left:0;
}
.footer{
    color: #f56017;
    /*background:url(/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -18px;*/
    float:left;
    width:52px;
    height:19px;
    overflow:hidden;
}
/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 9px 10px 11px;
    }
    .footer {
        visibility:hidden;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 9px 10px 11px;
        font-size:0.8em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
    .footer {
        visibility:hidden;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navbar .nav > li > a {
        padding: 9px 10px 11px;
        font-size:1em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
}

 /* Large desktop */
  @media (min-width: 1200px) {
    .navbar .nav > li > a {
        padding: 9px 30px 11px;
    }  
           
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
