/* FOR ALL DEVICES */
.whatDevice {
    float:left;
    padding:5px 0;
    background-color:#F6E9E0;
    margin:0 0 20px 0;
    width:100%;
}
.whatDevice span {
    margin-left:30px;
}
.mainContent {
    float:left;
    clear:both;
}
.searchBar {
    line-height:40px;
    display:inline-block;
    color:#000;
    padding-left:20px;
    background-color:#BBB;
}
.searchBarPhone {
    line-height:36px;
    display:block;
    color:#000;
    padding-left:0;
    background-color:#DDD;
    margin-bottom:5px;
}
.searchBarPhone input.searchInput {
    margin-top:4px;
}
.searchBarPhone .searchTitle {
    margin:0 10px 0 12px;
}
.searchTitle {
    float:left;
    font-size:14px;
    margin:0 10px 0 35px;
}
input.searchInput {
    float:left;
    margin-top:6px;
}
.navbar-inner {
    padding:0;
}
.navbar-inner .span7,
.navbar-inner .span4,
.navbar-inner .span5 {
    margin-left:0;
}
.navbar .nav {
    margin-left:30px;
}
.phoneNav {
    clear:both;
}
.phoneNav ul.nav {
    clear:both;
}
#normalHeader {
    height: 50px;
    overflow: hidden;
    float:left;
    clear:both;
}
#normalHeader .coBranding {
    float: right;
    color: #B5B7BB;
    font: bold 10px/19px Helvetica,Arial,sans-serif;
    text-align: right;
    height: 19px;
    padding: 7px 15px 7px 0;
}
#normalHeader .coBranding span {
    float: left;
    width: auto;
    height: 19px;
    margin: 0;
    padding: 0;
}
#normalHeader .coBranding .cb2, #normalFooter li a.cb2 {
    color: #F56017;
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -18px;
    float: left;
    width: 52px;
    height: 19px;
    overflow: hidden;
}
#normalHeader .coBranding .landOfNod, #normalFooter li a.landOfNod {
    color: #7595BC;
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -43px;
    float: left;
    width: 74px;
    height: 19px;
    overflow: hidden;
}

#normalFooter {
    float:left;
	clear:both;
	background-color: #fff;
	margin: 0px 2px 30px 0px;
	width:998px;
	position:relative;
}
#normalFooter ul {
    float:left;
    width: 185px;
    min-height: 142px;
    padding:0 0 0 15px;
    list-style:none;
}
#normalFooter li {
    float:left;
    clear:left;
    width:160px;
}
#normalFooter .section {
    color:#000;
    padding:18px 0 0 0;
}
#normalFooter,
#normalFooter a,
#normalFooter a:link,
#normalFooter a:active,
#normalFooter a:visited {
    color: #999;
    font-size: 12px;
    font-weight: bold;
}
#normalFooter a:hover {
    text-decoration:underline;
}
#normalFooter .last {
    width: 178px !important;
}
#normalFooter .iconLink {
    float: left;
    min-height: 10px;
    background-position: 0px .2em;
    padding: 0px 0px 0px 14px;
}
#normalHeader .coBranding .cb2,
#normalFooter li a.cb2{
    color: #f56017;
    background:url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -18px;
    float:left;
    width:52px;
    height:19px;
    overflow:hidden;
}
#normalHeader .coBranding .landOfNod,
#normalFooter li a.landOfNod{
    color: #7595bc;
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -43px;
    float:left;
    width:74px;
    height:19px;
    overflow:hidden;
}
#normalFooter .iconMobile {
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) -400px 2px no-repeat;
}
#normalFooter .iconFacebook {
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) -400px -17px no-repeat;
}
#normalFooter .iconTwitter {
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) -400px -35px no-repeat;
}
#normalFooter .iconPinterest{
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) -400px -54px no-repeat;
}
#normalFooter .iconReview {
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) -400px -73px no-repeat;
}
#normalFooter .ourBrands  {
    margin: 20px 0px 9px 0px;
    color:#000;
}
#normalFooter .delimiter {
    float:left;
    clear:none;
    width: 17px;
    height: 17px;
    background: url(//a.c-b.co/Assets/Backgrounds/DelimiterHexE6E7E9.png) repeat-y 50%;
}

#normalFooter .subFooter {
    border-top:solid 2px #E6E7E9;
	margin-top:20px;
	padding-bottom:25px;
}
#normalFooter .copyright,
#normalFooter .copyright a,
#normalFooter .copyright a:link,
#normalFooter .copyright a:active,
#normalFooter .copyright a:visited {
    color: #b5b7bb;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
}
#normalFooter .copyright {
    display:inline;
    float:left;
    width:958px;
    height:20px;
    background: url(//a.c-b.co/Assets/Backgrounds/DelimiterHexE6E7E9.png) repeat-x;
    margin: 0 20px 0 20px;
    padding:8px 0 0 0;
}
#normalFooter .copyright .home:link,
#normalFooter .copyright .home:visited,
#normalFooter .copyright .myCart:link,
#normalFooter .copyright .myCart:visited {
	font-weight:bold;
	color:#000;
}
#normalFooter .footQuickLinks {
	width:195px;
}
#normalFooter .footQuickLinks a,
#normalFooter .footQuickLinks span {
	float:left;
	position:relative;
	left:-10px; /* go west, young logo */
	padding-right:5px;
}
#normalFooter .footQuickLinks .homeImg {
	background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px 0;
	width:80px;
	height:14px;
	margin-right:17px;
}
#normalFooter .footQuickLinks .home span {
	display:inline;
	float:none;
	left:0;
	padding-right:0;
}
#normalFooter .cbOnFBWrap {
    padding:15px 0 0 10px;
	overflow:hidden;
	width:198px;
	float:right;
}
#normalFooter a.fbName,
#normalFooter a.fbName:link,
#normalFooter a.fbName:visited,
#normalFooter a.fbName:active {
    color: #3B5998;
    font:bold 14px/15px "lucida grande", tahoma, verdana, arial, sans-serif;
    float:left;
    width:125px;
    height:20px;
}
.fbImg {
    background:url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll 0 0;
    float: left;
    height: 40px;
    width: 40px;
    margin: 0 10px 4px 0;
}
#normalFooter #fb-like {
    float: left;
    height: 21px;
    width: 85px;
    margin: 0;
    padding: 0;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 9px 10px 11px;
    }
    .footer {
        /*visibility:hidden;*/
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 10px 10px 11px;
        font-size:0.8em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
    .footer {
        /*visibility:hidden;*/
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navbar .nav > li > a {
        padding: 10px 10px 11px;
        font-size:1em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
    .searchTitle {
        margin-left:20px;
    }
    .navbar .nav {
        margin-left:15px;
    }
}

 /* Large desktop */
  @media (min-width: 1200px) {
    .navbar .nav > li > a {
        padding: 10px 30px 11px;
    }  
    .searchTitle {
        margin-left:55px;
    }
    .navbar .nav {
        margin-left:40px;
    }
           
}

/* -------------------------Buttons------------------------*/
.btnA1, .btnA2, .btnA3, .btnAddToCart2, .btnAddToCart3 {
border: solid 1px #1461A9;
background-color: #006AB7;
background-image: -moz-linear-gradient(top,#2576C2,#105DA5);
background-image: -ms-linear-gradient(top,#2576C2,#105DA5);
background-image: -o-linear-gradient(top,#2576C2,#105DA5);
background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#2576C2),to(#105DA5));
background-image: -webkit-linear-gradient(top,#2576C2,#105DA5);
color: white!important;
text-shadow: -1px -1px #0E599E;
}

.btnA2, .btnB2, .btnC2, .btnD2, .btnSP2, .btnM2, .btnAddToCart2, .btnAddToRegistry2 {
height: 28px;
padding: 0 14px;
font-size: 13px!important;
line-height: 28px!important;
}
.btnA1, .btnA2, .btnA3, .btnB1, .btnB2, .btnB3, .btnC2, .btnC3, .btnD2, .btnD3, .btnSP2, .btnM2, .btnAddToCart2, .btnAddToCart3, .btnAddToRegistry2, .btnAddToRegistry3 {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
float: left;
margin: 0;
overflow: hidden;
font-family: Helvetica,Arial,sans-serif;
font-weight: bold!important;
text-decoration: none!important;
}

.btnD1, .btnD2, .btnD3, .btnAddToRegistry2, .btnAddToRegistry3 {
border: solid 1px #BFC5CE;
background-color: #FAFAFA;
background-image: -moz-linear-gradient(top,white,#E4E8EE);
background-image: -ms-linear-gradient(top,white,#E4E8EE);
background-image: -o-linear-gradient(top,white,#E4E8EE);
background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#E4E8EE));
background-image: -webkit-linear-gradient(top,white,#E4E8EE);
color: #237DC1!important;
text-shadow: -1px -1px white;
}

/*--------------------------Buttons END--------------------*/

/* ------------------------- NOT USING FOR NOW BELOW------------------------ */
/* -------------------------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
