/* FOR ALL DEVICES */
.whatDevice {
    float:left;
    padding:5px 0;
    background-color:#F6E9E0;
    margin:0 0 20px 0;
    width:100%;
}
.whatDevice span {
    margin-left:30px;
}
.mainContent {
    float:left;
    clear:both;
}
.searchBar {
    line-height:40px;
    display:inline-block;
    color:#000;
    padding-left:20px;
    background-color:#BBB;
}
.searchBarPhone {
    line-height:36px;
    display:block;
    color:#000;
    padding-left:0;
    background-color:#DDD;
    margin-bottom:5px;
}
.searchBarPhone input.searchInput {
    margin-top:4px;
}
.searchBarPhone .searchTitle {
    margin:0 10px 0 12px;
}
.searchTitle {
    float:left;
    font-size:14px;
    margin:0 10px 0 35px;
}
input.searchInput {
    float:left;
    margin-top:6px;
}
.navbar-inner {
    padding:0;
}
.navbar-inner .span7,
.navbar-inner .span4,
.navbar-inner .span5 {
    margin-left:0;
}
.navbar .nav {
    margin-left:30px;
}
.phoneNav {
    clear:both;
}
.phoneNav ul.nav {
    clear:both;
}
#normalHeader {
    height: 50px;
    overflow: hidden;
    float:left;
    clear:both;
}
#normalHeader .coBranding {
    float: right;
    color: #B5B7BB;
    font: bold 10px/19px Helvetica,Arial,sans-serif;
    text-align: right;
    height: 19px;
    padding: 7px 15px 7px 0;
}
#normalHeader .coBranding span {
    float: left;
    width: auto;
    height: 19px;
    margin: 0;
    padding: 0;
}
#normalHeader .coBranding .cb2, #normalFooter li a.cb2 {
    color: #F56017;
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -18px;
    float: left;
    width: 52px;
    height: 19px;
    overflow: hidden;
}
#normalHeader .coBranding .landOfNod, #normalFooter li a.landOfNod {
    color: #7595BC;
    background: url(//a.c-b.co/Assets/Backgrounds/HeaderFooterSprite_061812.png) no-repeat scroll -44px -43px;
    float: left;
    width: 74px;
    height: 19px;
    overflow: hidden;
}

#normalFooter {
    float:left;
	clear:both;
	background-color: #fff;
	margin: 0px 2px 30px 0px;
	width:998px;
	position:relative;
}
#normalFooter ul {
    float:left;
    width: 185px;
    min-height: 142px;
    padding:0 0 0 15px;
}
#normalFooter li {
    float:left;
    clear:left;
    width:160px;
}
#normalFooter .section {
    color:#000;
    padding:18px 0 0 0;
}
#normalFooter,
#normalFooter a,
#normalFooter a:link,
#normalFooter a:active,
#normalFooter a:visited {
    color: #999;
    font-size: 12px;
    font-weight: bold;
}
#normalFooter a:hover {
    text-decoration:underline;
}
#normalFooter .last {
    width: 178px !important;
}
#normalFooter .iconLink {
    float: left;
    min-height: 10px;
    background-position: 0px .2em;
    padding: 0px 0px 0px 14px;
}
/* Landscape phones and down */
@media (max-width: 480px) { 
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 9px 10px 11px;
    }
    .footer {
        visibility:hidden;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        font-size:0.8em;
    }
    .navbar .nav > li > a {
        padding: 10px 10px 11px;
        font-size:0.8em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
    .footer {
        visibility:hidden;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navbar .nav > li > a {
        padding: 10px 10px 11px;
        font-size:1em;
    }
    .navbar .divider-vertical {
        margin:0 2px;
    }
    .searchTitle {
        margin-left:20px;
    }
    .navbar .nav {
        margin-left:15px;
    }
}

 /* Large desktop */
  @media (min-width: 1200px) {
    .navbar .nav > li > a {
        padding: 10px 30px 11px;
    }  
    .searchTitle {
        margin-left:55px;
    }
    .navbar .nav {
        margin-left:40px;
    }
           
}

/* -------------------------Buttons------------------------*/
.btnA1, .btnA2, .btnA3, .btnAddToCart2, .btnAddToCart3 {
border: solid 1px #1461A9;
background-color: #006AB7;
background-image: -moz-linear-gradient(top,#2576C2,#105DA5);
background-image: -ms-linear-gradient(top,#2576C2,#105DA5);
background-image: -o-linear-gradient(top,#2576C2,#105DA5);
background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#2576C2),to(#105DA5));
background-image: -webkit-linear-gradient(top,#2576C2,#105DA5);
color: white!important;
text-shadow: -1px -1px #0E599E;
}

.btnA2, .btnB2, .btnC2, .btnD2, .btnSP2, .btnM2, .btnAddToCart2, .btnAddToRegistry2 {
height: 28px;
padding: 0 14px;
font-size: 13px!important;
line-height: 28px!important;
}
.btnA1, .btnA2, .btnA3, .btnB1, .btnB2, .btnB3, .btnC2, .btnC3, .btnD2, .btnD3, .btnSP2, .btnM2, .btnAddToCart2, .btnAddToCart3, .btnAddToRegistry2, .btnAddToRegistry3 {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
float: left;
margin: 0;
overflow: hidden;
font-family: Helvetica,Arial,sans-serif;
font-weight: bold!important;
text-decoration: none!important;
}

.btnD1, .btnD2, .btnD3, .btnAddToRegistry2, .btnAddToRegistry3 {
border: solid 1px #BFC5CE;
background-color: #FAFAFA;
background-image: -moz-linear-gradient(top,white,#E4E8EE);
background-image: -ms-linear-gradient(top,white,#E4E8EE);
background-image: -o-linear-gradient(top,white,#E4E8EE);
background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#E4E8EE));
background-image: -webkit-linear-gradient(top,white,#E4E8EE);
color: #237DC1!important;
text-shadow: -1px -1px white;
}

/*--------------------------Buttons END--------------------*/

/* ------------------------- NOT USING FOR NOW BELOW------------------------ */
/* -------------------------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
